{% extends "layout.html" %}
{% block title %}
    {% if profile_company %}
        {{ profile_company.company_name}}'s Timeline
	{% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if profile_company %}
      <div class=twitbox>
          <h3>What's on your mind about {{ profile_company.company_name}}</h3>
        <form action="{{ url_for('add_message', company_id=profile_company.company_id) }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
  {% endif %}
  <script type="text/javascript">
	$(document).ready(function() {
	 $('.comment').bind("click", function() {
                 // alert($(this));
                  //debugger;
                  //var id = $(this).data('xxx');
                  //var a = $(this);
                  //var id = $(this).attr("data-id");
                  var id = $(this).data('id');
                  //alert(id);
		  $.ajax({
			  type:"GET",
                          url:"/show/comments/" + id +"/",
			  beforeSend: function() {
				  $(this).attr("disabled", true).val("请求中");
			  },
			  success:function(data) {
				  //alert(data.comments)
				  //var jsonresult=JSON.parse(data);
                                 // alert(id);
				  //var divbox="<div id=comment_list>xxx</div>"
                                  var str = "#comment_"+id;
                                 // alert(str);
                                  $(str).html("xxoo");
		                  $(str).toggle();
                                  //a.find('.comment_list').toggle();
				  $("#form_"+id).toggle();
			  }
		  });
		  
	 }); 


 });
  </script>
  {% for message in messages %}
  <ul class=messages>
  <li><p>
      <strong><a href="{{ url_for('company_timeline', company_name=message.company_name)
      }}">{{ message.company_name }}</a></strong>
	  {{ message.text }} 
	  <small>&mdash; {{ message.pub_date|datetimeformat }}  <a class="comment" data-id="{{message.message_id}}">评论</a></small>
	  </p>
	  <div id=comment_{{message.message_id}} style="display:none;">
	  </div>
	  <form method="post" style="display:none;" id=form_{{message.message_id}}>
	      <input type="text" name="text">
		  <input type="submit" value="发表评论" id=submit_comment_{{message.message_id}} data-id="{{message.message_id}}">
          </form>

  </li>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
